streamlit
streamlit-chat
streamlit-mermaid
pandas
langchain
langchain-openai
langchain-community
openpyxl
graphviz
faiss-cpu
sqlalchemy
sqlalchemy-utils
pyodbc
lida
tiktoken
seaborn
matplotlib
ydata_profiling
sentence_transformers
sklearn
sdv
autogen
setuptools

setuptools

